
#divApproval {
    margin-top: 10px;
    border: solid 2px black;
    width: 350px;
}

    #divApproval table {
        width: 100%;
        border-collapse: collapse;
    }

    #divApproval td, #divApproval th {
        border: solid 1px black;
        text-align: center;
    }

    #divApproval th {
        background-color: #D1DDF1;
        color: black;
    }

    #divApproval .OddShift {
        background-color: #e0e0e0;
        color: black;
    }

#ApprovalTitle {
    font-size: 11pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5px;
}

#divConcTons, #divPelTons {
    margin-top: 10px;
    border: solid 2px black;
    width: 190px;
}

    #divConcTons table, #divPelTons table {
        width: 100%;
        border-collapse: collapse;
    }

    #divConcTons td, #divPelTons td {
        border: solid 1px black;
        text-align: center;
        font-size: 10pt;
    }

#divConcTons th, #divPelTons th {
    background-color: #D1DDF1;
    font-size: 10pt;
    color: black;
}

#divConcTons .OddShift {
    background-color: #e0e0e0;
    color: black;
}

#ConcTonsTitle, #PelTonsTitle {
    font-size: 11pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5px;
}



#divLabTables {
    width: 900px;
}

.LabTable {
    border-collapse: collapse;
    border-style: none;
    margin: 5px 5px 10px 10px;
    width: 100%;
}


    .LabTable td {
        border-width: 1px;
        border-color: black;
        border-style: solid;
        width: 90px;
        height: 1rem !important;
        font-size: 10pt !important;
    }



.Header1 td, .Header1 {
    font-weight: bold;
    font-size: 12pt;
    vertical-align: top;
    background-color: #e0e0e0;
    color: black;
    text-align: center;
}

.Header2, .Header2 td {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    background-color: #e0e0e0;
    color: black;
}

.InvalidEntry {
    background-color: #FFE97F;
    color: black;
}

.CalcField, .OutOfSpec, .rz-spinner {
    text-align: right;
    height: 10px;
    font-size: 9pt;
}


.OutOfSpec {
    color: red;
    font-weight: bold;
}

.btnFill img {
    border-style: none;
    margin-top: 2px;
}

.btnFill {
    float: right;
}

.readOnly {
    background-color: #CECECE;
}

.ApprovedLabel {
    font-weight: bold;
    color: Green;
}

.RemoveApproval {
    font-size: 7pt;
}

.HighlightDefaultRow {
    background-color: #3163AD;
}
