@page "/"
@rendermode InteractiveServer

<PageTitle>@Util.PROGRAM_NAME - Home</PageTitle>
<SectionContent SectionName="page-title">Home</SectionContent>

<h1>Hello, world!</h1>

Welcome to your new app.

<br/>

<MOO.Blazor.Components.FieldInfo HelpText="Help Text Shown Here" FieldName="Field Name">
    <Template>
        Hello<br/>World
    </Template>
</MOO.Blazor.Components.FieldInfo>

<br/>

<MOO.Blazor.Components.FieldInfo HelpText="Help Text Shown Here" FieldName="Field Name">
    
</MOO.Blazor.Components.FieldInfo>


<MOO.Blazor.Components.DocumentListView FileFolderLocation="\\mno-fs.mno.uss.com\fs-root\Departments\Environmental\MNO_Web_page_documents" URLRoot="https://www.mno.uss.com/WebDocs/EnvironmentalDocs" />


